<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - PropMatch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="brand">
			<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
			<span class="site-title">PropMatch</span>
		</div>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
        </nav>
    </header>
    <main>
        <h1>Register</h1>
        <form method="POST">
            <label>Name:</label>
            <input type="text" name="name" required>
            <label>Username:</label>
            <input type="text" name="username" required>
            <label>Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Register</button>
        </form>
    </main>
    <footer>
        <div class="container">
            <p>© 2025 Rental Portal. All rights reserved.</p>
			<p>Developed by Anirudh Venkatesh</p>
			<p>Project on <a href="https://github.com/anirudhvenkates/PropMatch" target="_blank"><strong><u>GitHub</u></strong></a></p>
            <p>Connect with us: <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">LinkedIn</a></p>
        </div>
    </footer>
</body>
</html>